<?xml version="1.0" ?>
<robot name="assem" xmlns:xacro="http://www.ros.org/wiki/xacro">

<ros2_control name="GazeboSystem" type="system">
  <hardware>
    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
  </hardware>
  <joint name="Revolute_1">
    <command_interface name="position">
      <param name="min">{-2*pi}</param>
      <param name="max">{2*pi}</param>
    </command_interface>
    <state_interface name = "velocity"/>
    <state_interface name="position">
      <param name="initial_value">0</param>
    </state_interface>
  </joint>
  <joint name="Revolute_3">
    <command_interface name="position">
      <param name="min">{-2*pi}</param>
      <param name="max">{2*pi}</param>
    </command_interface>
    <state_interface name = "velocity"/>
    <state_interface name="position">
      <param name="initial_value">0</param>
    </state_interface>
  </joint>
  <joint name="Revolute_4">
    <command_interface name="position">
      <param name="min">{-2*pi}</param>
      <param name="max">{2*pi}</param>
    </command_interface>
    <state_interface name = "velocity"/>
    <state_interface name="position">
      <param name="initial_value">0</param>
    </state_interface>
  </joint>
  <joint name="Revolute_5">
    <command_interface name="position">
      <param name="min">{-2*pi}</param>
      <param name="max">{2*pi}</param>
    </command_interface>
    <state_interface name = "velocity"/>
    <state_interface name="position">
      <param name="initial_value">0</param>
    </state_interface>
  </joint>
  <joint name="Revolute_20">
    <command_interface name="position">
      <param name="min">{-2*pi}</param>
      <param name="max">{2*pi}</param>
    </command_interface>
    <state_interface name = "velocity"/>
    <state_interface name="position">
      <param name="initial_value">-1.57</param>
    </state_interface>
  </joint>
  <joint name="Revolute_23">
    <command_interface name="position">
      <param name="min">{-2*pi}</param>
      <param name="max">{2*pi}</param>
    </command_interface>
    <state_interface name = "velocity"/>
    <state_interface name="position">
      <param name="initial_value">0</param>
    </state_interface>
  </joint>
  <joint name="Revolute_25">
    <command_interface name="position">
      <param name="min">{-2*pi}</param>
      <param name="max">{2*pi}</param>
    </command_interface>
    <state_interface name = "velocity"/>
    <state_interface name="position">
      <param name="initial_value">1.57</param>
    </state_interface>
  </joint>
  <joint name="Revolute_40">
    <command_interface name="position">
      <param name="min">{-2*pi}</param>
      <param name="max">{2*pi}</param>
    </command_interface>
    <state_interface name = "velocity"/>
    <state_interface name="position">
      <param name="initial_value">0</param>
    </state_interface>
  </joint>
  <joint name="Revolute_31">
    <command_interface name="position">
      <param name="min">{-2*pi}</param>
      <param name="max">{2*pi}</param>
    </command_interface>
    <state_interface name = "velocity"/>
    <state_interface name="position">
      <param name="initial_value">-1.57</param>
    </state_interface>
  </joint>
  <joint name="Revolute_48">
    <command_interface name="position">
      <param name="min">{-2*pi}</param>
      <param name="max">{2*pi}</param>
    </command_interface>
    <state_interface name = "velocity"/>
    <state_interface name="position">
      <param name="initial_value">0</param>
    </state_interface>
  </joint>
  <joint name="Revolute_35">
    <command_interface name="position">
      <param name="min">{-2*pi}</param>
      <param name="max">{2*pi}</param>
    </command_interface>
    <state_interface name = "velocity"/>
    <state_interface name="position">
      <param name="initial_value">1.57</param>
    </state_interface>
  </joint>
  <joint name="Revolute_45">
    <command_interface name="position">
      <param name="min">{-2*pi}</param>
      <param name="max">{2*pi}</param>
    </command_interface>
    <state_interface name = "velocity"/>
    <state_interface name="position">
      <param name="initial_value">0</param>
    </state_interface>
  </joint>
  <!-- additional hardware/sensors ...-->
</ros2_control>

<gazebo>
  <plugin name = "gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find robot_description)/config/controllers.yaml</parameters>
  </plugin>
</gazebo>

</robot>